In [9]:
import seaborn as sns

In [19]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
df = pd.read_csv("StudentData.csv")
df
import pandas as pd
import matplotlib.pyplot as plt

# Load data from CSV file
data = pd.read_csv('StudentData.csv')

# Group by branch and Fine Paid and count number of responses
Fine_Count = data.groupby(['Select Your Branch.', 'Have you paid fine in Christ? ']).size().reset_index(name='count')
print(Fine_Count)
# Pivot table and create stacked bar chart
Fine_Count = Fine_Count.pivot(index='Select Your Branch.', columns='Have you paid fine in Christ? ', values='count')
Fine_Count.plot(kind='bar', stacked=True)
plt.title('Fine Count')
plt.xlabel('Branch')
plt.ylabel('Number of Responses')
plt.legend(title='Fine Amount', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

,Timestamp,Select Your Branch.,How much money you get for monthly expenses from family?,"How much do you spend on your Food? (includes Breakfast, Lunch, Dinner, Tea/Coffee",Have you spend on any medical requirements?,Have you asked your parents for money due to poor money management skills?,Have you paid fine in Christ?,Are you able to save money?
0,8/10/2023 17:16,Data Science,8000,7000,1000,Yes,0.0,1000
1,8/10/2023 17:17,Data Science,5000,3000,1000,No,0.0,500
2,8/10/2023 17:18,Data Science,10000,5000,0,No,0.0,0
3,8/10/2023 17:28,BA LLB,10000,3000,0,No,0.0,1500
4,8/10/2023 17:30,BA LLB,10000,7000,0,Yes,0.0,2000
...,...,...,...,...,...,...,...,...
297,10/20/2023 18:54:01,MBA,10000,8000,2000,No,0.0,400
298,10/20/2023 18:54:22,Data Science,9000,8000,2000,No,0.0,1500
299,10/20/2023 18:54:43,MBA,8000,7000,0,No,0.0,1000
300,10/20/2023 18:55:04,MBA,10000,7000,1000,No,0.0,1000
301,10/21/2023 15:10:59,Data Science,5000,3000,0,No,0.0,400